[submodule "AbyssBootkitPkg/Bootkit1_Boot_UEFIApplication/Modules/Module1_BootWindows0_Hookings/Includes/Zydis"]
	path = AbyssBootkitPkg/Bootkit1_Boot_UEFIApplication/Modules/Module1_BootWindows0_Hookings/Includes/Zydis
	url = https://github.com/zyantific/zydis
